{{- $email := promptString "email" -}}
{{- $install_type := promptString "Install type (pro | perso)" -}}

[data]
    install_type = "{{ $install_type }}"
    email = "{{ $email }}"
    name = "Thomas Cardonne"
    is_wsl = {{ (.chezmoi.kernel.osrelease | regexMatch "-microsoft-standard$") }}
