# Shell aliases sourced by `~/.bashrc` and `~/.zshrc`.

# Misc
alias rm='rm -i'

# Git
alias gs='git status'
alias gc='git commit -m'
alias ga='git add -A'
alias gp='git push'

# Docker
alias dc='docker-compose'

# Kubernetes
alias k='kubectl'