[user]
    email = {{ .email }}
    name =  {{ .name }}
[pull]
    rebase = true
[core]
    autocrlf = false
    whitespace = cr-at-eol
[protocol]
    version = 2
[gitreview]
    remote = origin
[alias]
    review = !git-review
