{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -e

# Install ZSH
sudo apt install -y zsh
chsh -s $(which zsh)

# Install Golang
curl -s -L -o golang.tar.gz https://dl.google.com/go/go1.14.3.linux-amd64.tar.gz
sudo tar -C /usr/local -xzf golang.tar.gz
rm -f golang.tar.gz

{{- end }}

