{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -e

GO_VERSION=1.16.4
K9S_VERSION=0.24.9

mkdir -p ~/Projects

# Install ZSH
sudo apt install -y zsh neofetch
sudo chsh -s $(which zsh) $(whoami)

# Install Golang
curl -s -L -o golang.tar.gz https://dl.google.com/go/go${GO_VERSION}.linux-amd64.tar.gz
sudo tar -C /usr/local -xzf golang.tar.gz
rm -f golang.tar.gz

# Install Docker (but not on WSL)
{{ if not .is_wsl }}
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository \
"deb [arch=amd64] https://download.docker.com/linux/ubuntu \
$(lsb_release -cs) \
stable"
sudo apt-get update
sudo apt-get install -y docker-ce docker-ce-cli containerd.io
sudo usermod -aG docker $USER

sudo curl -sL "https://github.com/docker/compose/releases/download/1.26.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
{{ end }}

# Terraform tfenv
if ! command -v tfenv &> /dev/null; then
    git clone https://github.com/tfutils/tfenv.git ~/.tfenv
    sudo ln -s ~/.tfenv/bin/* /usr/local/bin
fi

# Ansible
sudo apt install -y ansible

# AWS CLI
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip -o awscliv2.zip
sudo ./aws/install --update
rm -rf aws/ awscliv2.zip

# Install kubectl
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
rm -f kubectl

# K9S
curl -sL "https://github.com/derailed/k9s/releases/download/v${K9S_VERSION}/k9s_$(uname -s)_$(uname -m).tar.gz" | tar xz -C /tmp
sudo mv /tmp/k9s /usr/local/bin

{{- end }}

