{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -e

GO_VERSION=1.14.3
TERRAFORM_VERSION=0.12.28

mkdir -p ~/Projects

# Install ZSH
sudo apt install -y zsh neofetch
sudo chsh -s $(which zsh) $(whoami)

# Install Golang
curl -s -L -o golang.tar.gz https://dl.google.com/go/go${GO_VERSION}.linux-amd64.tar.gz
sudo tar -C /usr/local -xzf golang.tar.gz
rm -f golang.tar.gz

# Install Docker (but not on WSL)
{{ if not .is_wsl }}
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository \
"deb [arch=amd64] https://download.docker.com/linux/ubuntu \
$(lsb_release -cs) \
stable"
sudo apt-get update
sudo apt-get install -y docker-ce docker-ce-cli containerd.io
sudo usermod -aG docker $USER

sudo curl -sL "https://github.com/docker/compose/releases/download/1.26.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
{{ end }}

# Terraform
wget https://releases.hashicorp.com/terraform/${TERRAFORM_VERSION}/terraform_${TERRAFORM_VERSION}_linux_amd64.zip
sudo unzip -o -d /usr/local/bin terraform_${TERRAFORM_VERSION}_linux_amd64.zip
rm -f terraform_${TERRAFORM_VERSION}_linux_amd64.zip

# Ansible
sudo apt install -y ansible

# AWS CLI
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip -o awscliv2.zip
sudo ./aws/install --update
rm -rf aws/ awscliv2.zip

{{- end }}

