{{- if and (eq .chezmoi.os "linux") (not .is_wsl) -}}
#!/bin/bash
set -e

git clone https://github.com/arcticicestudio/nord-gnome-terminal.git
./nord-gnome-terminal/src/nord.sh --profile "Nord"
rm -rf ./nord-gnome-terminal

{{- end -}}